
/* Formulaires - styles communs */
label{
	display:block;
	font-weight:bold;
}
textarea, input[type=text], input.text, select{
	background-color:white;
	/*border:$typo-margin-vertical/3/8 solid grey;*/
	border:0;
	box-shadow:-($typo-margin-vertical/4) ($typo-margin-vertical/4) 0 0 lighten($couleur-fonce, 10%);
	color:$couleur-fonce;
	font-family:$typo-font-alt;
	font-size:1em;
	font-weight:300;
	line-height:$typo-line-height/* - ($typo-line-height/3/4)*/;
	margin:0;
	padding:0 0.5em;
	width:90%;
	max-width:90%;
	
	&:focus{
		background-color:white;
		/*border-color:$couleur-texte;*/
		box-shadow:-($typo-margin-vertical/4) ($typo-margin-vertical/4) 0 0 $couleur-fonce;
		font-weight:bold;
	}
}


/* Formulaire fournis par SPIP */
.formulaire_spip{
	clear:both;
	
	ul{
		margin:0;
	}
	.editer{
		list-style:none;
		
		.erreur_message{
		}
	}
	/*.editer{
		// À partir des moyens grands on met deux champs par ligne
		@include media($bp-medium-up){
			float:left;
			width:50%;
		}
	}
	.saisie_textarea{
		clear:both;
	}*/
	.boutons{
		clear:both;
		border-top:1px solid black;
		margin-top:1em;
		padding:1em;
		text-align:center;
	}
}

