
@mixin list-none() {
	list-style:none;
	margin-left:0;
	
	li:before{
		content:'';
	}
}

/* Les conteneurs de listes */
.liste{
	margin-bottom:$typo-margin-vertical;
}

/* On style les listes utilisées dans les trucs Z */
.liste-items{
	@extend .list-none;
	
	.item{
		.titre{
			display:block;
		}
	}
}

/* Liste en sorte de polaroïd */
.liste.polaroid{
	.item{
		background-color:white;
		margin-bottom:$typo-margin-vertical;
		padding:$typo-margin-vertical/2;
		position:relative;
	}
	article{
		@extend .link-block-wrapper;
		min-height:6em;
	}
	.titre{
		background-color:white;
		font-family:$typo-font-alt;
		font-size:1.5em;
		font-style:italic;
		font-weight:bold;
		line-height:1;
		padding-top:0.5em;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
	}
	.rubrique{
		background-color:$couleur-orange;
		color:white;
		font-family:$typo-font-alt;
		font-size:1.5em;
		left:-0.5em;
		line-height:1;
		margin:0;
		padding:0.5em;
		position:absolute;
		text-transform:uppercase;
		top:1em;
		z-index:10;
	}
	a{
		color:$couleur-texte;
	}
	.postmeta, .introduction, .publication{
		display:none;
	}
}

/* Les plus lus n'ont que le titre */
.liste.plus_lus{
	border-left:1px solid $couleur-orange;
	padding:$typo-margin-vertical/2;
	
	.liste-items{
		margin:0;
	}
	.item{
		margin:($typo-margin-vertical/2) 0;
	}
	.spip_logos, .publication, .introduction, .postmeta{
		display:none;
	}
	strong{
		font-weight:normal;
	}
}

/* Liste d'événements */
.liste.evenements{
	.item{
		@extend .link-block-wrapper;
		margin-bottom:$typo-margin-vertical;
		
		&:last-child{
			margin-bottom:0;
		}
	}
	.publication{
		font-family:$typo-font-alt;
		font-size:0.9em;
		line-height:1.5em;
		margin:0;
	}
	abbr{
		border:none;
	}
	time{
		background-color:lighten($couleur-fonce, 10%);
		padding:0 0.2em;
	}
	.lieu{
		font-family:$typo-font-alt;
		font-size:0.9em;
		line-height:1.5em;
	}
}

/* Les évenements uniquement futurs */
.liste.evenements-futurs{
	background-color:darken($couleur-beige, 5%);
	border-left:1px solid black;
	padding:$typo-margin-vertical/2;
	
	.introduction{
		display:none;
	}
}

/* Liste des tags */
.liste.tags{
	a{
		@extend .icon;
		@extend .icon-tag;
	}
}
