
@mixin list-none() {
	list-style:none;
	margin-left:0;
	
	li:before{
		content:'';
	}
}

/* Les conteneurs de listes */
.liste{
	margin-bottom:$typo-margin-vertical;
}

/* On style les listes utilisées dans les trucs Z */
.liste-items{
	@extend .list-none;
	
	.item{
		.titre{
			display:block;
		}
	}
}

/* Liste en sorte de polaroïd */
.liste.polaroid{
	.item{
		@extend .link-block-wrapper;
		background-color:white;
		margin-bottom:$typo-margin-vertical;
		min-height:6em;
		padding:$typo-margin-vertical/2;
		position:relative;
	}
	.entry-title{
		background-color:white;
		font-family:$typo-font-alt;
		font-size:1.5em;
		font-style:italic;
		font-weight:bold;
		line-height:1;
		padding:0.5em;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
	}
	a{
		color:$couleur-texte;
	}
	.introduction, .publication{
		display:none;
	}
}

/* Les plus lus n'ont que le titre */
.plus_lus{
	.spip_logos, .publication, .introduction, .postmeta{
		display:none;
	}
	strong{
		font-weight:normal;
	}
}

/* Liste d'événements */
.liste.evenements{
	.publication{
		font-family:$typo-font-alt;
		font-size:0.9em;
		line-height:1.5em;
		margin:0;
	}
	abbr{
		border:none;
	}
	time{
		background-color:lighten($couleur-fonce, 10%);
		padding:0 0.2em;
	}
	.lieu{
		font-family:$typo-font-alt;
		font-size:0.9em;
		line-height:1.5em;
	}
}

/* Les évenements uniquement futurs */
.liste.evenements-futurs{
	background-color:darken($couleur-beige, 5%);
	border-left:1px solid black;
	padding:$typo-margin-vertical/2;
	
	.introduction{
		display:none;
	}
}
