
/* Tout premier menu, accessibilité et accès rapides */
.access{
	.menu-items{
		@extend .list-none;
		font-size:0.9em;
		line-height:($typo-line-height/0.9);
		margin:0;
	}
	.item{
		float:none;
	}
	/* Masquage temporaire du formulaire de recherche tant qu'on ne sait pas où il va aller */
	.search{
		display:none;
	}
	
	@include media($bp-medium-up){
		.item{
			display:inline-block;
			margin-right:2em;
			
			&.right{
				float:right;
				margin-left:2em;
				margin-right:0;
			}
		}
	}
}
