
/* Menu principal */
.firstnav{
	clear:both;
	display:none;
	margin-bottom:$typo-margin-vertical*2;
	font-family:$typo-font-alt;
	font-weight:300;
	text-transform:uppercase;
	
	.container{
		position:relative;
	}
	.menu-items{	
		@extend .list-none;
		margin:0;
	}
	a{
		color:$couleur-texte;
		display:block;
		// letter-spacing:0.1em;
	}
	.on a{
		font-weight:bold;
		text-decoration:underline;
	}
	.lieux a{
		@extend .icon;
		@extend .icon-location;
	}
	.themes a{
		@extend .icon;
		@extend .icon-tags;
	}
	.search {
		position:relative;
		
		/* On enlève ça pour l'instant en attendant de trouver comme l'afficher mais mieux */
		label{
			@extend .offscreen;
		}
		.text{
			padding-right:2.5em;
			width:100%;
		}
		.submit{
			@extend .icon;
			@extend .icon-search;
			background-color:white;
			border:0;
			font-size:1.1em;
			line-height:1;
			padding:0;
			position:absolute;
			right:0;
			z-index:0;
			
			span{
				display:inline-block;
				text-indent:-10000px;
			}
			&:before{
				text-indent:0;
			}
		}
	}
	
	@include media($bp-medium-plus-up){
		display:block !important;
		
		/*.menu-items{
			line-height:0;
			text-align:justify;
			
			&:after{
				content:'';
				display:inline-block;
				vertical-align:top;
				width:99%;
			}
		}*/
		.item{
			display:inline-block;
			line-height:$typo-line-height;
			margin:0;
			padding:0;
			position:relative;
			/*vertical-align:top;
			
			&:first-child{
				text-align:left;
			}
			&:last-child{
				text-align:right;
			}*/
			
			&:after{
				content: " - ";
			}
			&:last-child:after{
				content:'';
			}
		}
		a{
			display:inline;
		}
		/*.on a{
			@include transform-origin(center center);
			-webkit-transform: transform;
			-moz-transform: rotate(-12deg);
			-ms-transform: rotate(-12deg);
			-o-transform: rotate(-12deg);
			transform: rotate(-12deg);
			background-color:lighten($couleur-fonce, 10%);
			box-shadow:0 0 0 0.25em lighten($couleur-fonce, 10%);
			display:inline-block;
		}*/
		.lieux a, .themes a{
			display:inline-block;
			overflow:hidden;
			vertical-align:bottom;
			white-space:nowrap;
			width:1.4em;
		}
		.search{
			position:absolute;
			right:0;
			top:-0.1em;
			width:12em;
		}
	}
}
