
/* Entête du site */
.header{
	h1{
		background:transparent url('../images/logo-262.png') center center no-repeat;
		font-size:1em;
		height:12em;
		margin:0;
		text-indent:-10000px;
	}
	.menus-toggle{
		@extend .icon;
		@extend .icon-menu;
		background-color:$couleur-orange;
		color:white;
		display:inline-block;
		font-family:$typo-font-alt;
		padding:0 0.5em;
		text-decoration:none;
		
		&:hover{
			background-color:$couleur-marron;
		}
	}
	
	@include media($bp-medium-plus-up){
		h1{
			height:16.5em;
		}
		.menus-toggle{
			display:none;
		}
	}
}
