
/* Pour les articles */
.page_article{
	.cartouche h1{
		text-align:center;
	}
	
	#content{
		background-color:white;
		padding:$typo-margin-vertical;
		margin:0 -1em;
	}
	
	@include media($bp-medium-plus-up){
		#content{
			box-shadow:-($typo-margin-vertical/4) ($typo-margin-vertical/4) 0 0 lighten($couleur-fonce, 10%);
			margin:0;
			padding:$typo-margin-vertical*2 $typo-margin-vertical*3;
			
			.main{
				font-size:1.1em;
			}
		}
	}
}
