
/* Pour les articles */
.page_article{
	.cartouche {
		h1{
			text-align:center;
		}
		.publication{
			text-align:right;
			margin-bottom:$typo-margin-vertical*2;
		}
		.auteurs{
			display:block;
			font-size:1.5em;
			line-height:1;
		}
		.published{
			display:block;
			font-size:0.9em;
			line-height:$typo-line-height / 0.9;
		}
	}
	.content{
		background-color:white;
		margin:0 -1em;
		margin-bottom:$typo-margin-vertical;
		padding:$typo-margin-vertical;
		position:relative;
		
		.tags{
			text-align:center;
		}
		.tags .liste-items, .tags .item{
			display:inline-block;
			margin:0;
		}
		footer .publication{
			font-size:0.9em;
			line-height:$typo-line-height / 0.9;
			margin-bottom:$typo-margin-vertical / 0.9;
			text-align:right;
		}
	}
	
	@include media($bp-medium-plus-up){
		.content{
			padding:$typo-margin-vertical*2 $typo-margin-vertical*3;
			
			.main{
				font-size:1.1em;
			}
		}
		.cartouche .publication{
			max-width:50%;
			margin-left:auto;
			margin-right:auto;
		}
	}
	@include media($bp-large-up){
		.content{
			box-shadow:-($typo-margin-vertical/4) ($typo-margin-vertical/4) 0 0 lighten($couleur-fonce, 10%);
			margin-left:auto;
			margin-right:auto;
			max-width:50em;
			padding:$typo-margin-vertical*2 $typo-margin-vertical*3;
			
			.main{
				font-size:1.1em;
			}
		}
		.breadcrumb .container{
			margin-left:auto;
			margin-right:auto;
			max-width:50em;
		}
	}
}
