
/* Mises aux couleurs du thème pour les éléments de base */
body{
	color:$couleur-texte;
	font-family:$typo-font-text;
	font-weight:300;
	background-color:$couleur-beige;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
	font-family:$typo-font-heading;
}
h1{
	font-weight:bold;
}
h2{
	font-weight:100;
}

a{
	color:$couleur-lien;
	text-decoration:none;
	
	&:hover{
		text-decoration:underline;
	}
	&:focus{
		background-color:$couleur-marron !important;
		color:white !important;
		outline:0;
	}
	&:visited{
		color:$couleur-lien;
	}
}

.link-block-wrapper{
	position:relative;
	
	a{
		position:inherit;
		
		&:before{
			content:"";
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			top:0;
		}
	}
}

ul,ol{
	list-style:none;
}

ul.spip {
    list-style: square;
}
ol.spip{
	list-style:decimal;
	//margin-left:$typo-margin-vertical*2;
}

hr{
	border-style:dotted;
}

