
/* Palette de couleur */
$couleur-beige:#dee0df;
$couleur-marron:#7a534d;
$couleur-fonce:#514f4f;

/* Palette fonctionnelle */
$couleur-texte:#333;
$couleur-lien: $couleur-marron;

/* Variables de typographie */
$typo-line-height: 1.5;
$typo-margin-vertical: ($typo-line-height)*1em;
$typo-font-text: Merriweather, Georgia, serif;
$typo-font-heading: Roboto, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif, sans;
